#preview {
  display: block;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: thin;
  width: 70%;
  align-items: center;
  justify-content: center;
}

#preview-page {
  margin: auto;
  background-color: white;
  width: 800px;
  aspect-ratio: 1/1.41;
  color: black;
  padding: 72px;
  font-size: 12px;
}
